<div class="container mt-5">
    <div class="row">
        <div class="col lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span>LISTADO DE PRODUCTOS</span>
                    <button class="btn btn-success float-end">NUEVO</button>
                    <table class="table table-striped mt-3">
                        <thead>
                          <tr>
                            <th scope="col">Producto</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Ubicacion</th>
                            <th scope="col">Presio</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">Coca cola</th>
                            <td>gaseosa</td>
                            <td>Bs As</td>
                            <td>260</td>
                          </tr>
                          <tr>
                            <th scope="row">Branca</th>
                            <td>Fernet</td>
                            <td>Cordoba</td>
                            <td>1600</td>
                          </tr>
                        
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>

</div>
